#### @ Author 3x Group

Loading Packages

In [9]:
import pandas as pd
pd.options.display.max_rows=10
pd.options.display.max_columns=50
from imblearn.over_sampling import SMOTE
import warnings
warnings.filterwarnings('ignore')

In [10]:
df=pd.read_csv('data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
Age                         1470 non-null int64
Attrition                   1470 non-null object
BusinessTravel              1470 non-null object
DailyRate                   1470 non-null int64
Department                  1470 non-null object
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null object
EmployeeCount               1470 non-null int64
EmployeeNumber              1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null object
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1470 non-null object
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null object
MonthlyIncome               1470 non-null int64
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
Over18                      1470 non-null object
OverTime                    1470 non-null object
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StandardHours               1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(26), object(9)
memory usage: 402.0+ KB

In [11]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2

In [12]:
df.shape

(1470, 35)

In [13]:
# Lets descretize age first
df['Age']=pd.cut(df['Age'],3, labels=["Young", "MiddleAge", "Old"])
df['MonthlyIncome']=pd.cut(df['MonthlyIncome'],3, labels=["Poor", "Average", "Rich"])

In [14]:
ndf=df[['Age','Attrition','BusinessTravel','Department','EducationField','EnvironmentSatisfaction','Gender','JobInvolvement',
       'JobLevel','JobRole','JobSatisfaction','MaritalStatus','MonthlyIncome','PerformanceRating','RelationshipSatisfaction',
       'StockOptionLevel','WorkLifeBalance']]

In [15]:
ndf.head()

,Age,Attrition,BusinessTravel,Department,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,WorkLifeBalance
0,MiddleAge,Yes,Travel_Rarely,Sales,Life Sciences,2,Female,3,2,Sales Executive,4,Single,Poor,3,1,0,1
1,Old,No,Travel_Frequently,Research & Development,Life Sciences,3,Male,2,2,Research Scientist,2,Married,Poor,4,4,1,3
2,MiddleAge,Yes,Travel_Rarely,Research & Development,Other,4,Male,2,1,Laboratory Technician,3,Single,Poor,3,2,0,3
3,MiddleAge,No,Travel_Frequently,Research & Development,Life Sciences,4,Female,3,1,Research Scientist,3,Married,Poor,3,3,0,3
4,Young,No,Travel_Rarely,Research & Development,Medical,1,Male,3,1,Laboratory Technician,2,Married,Poor,3,4,1,3

In [16]:
ndf.to_csv('Association.csv')